@import "../styles/mixin", "../styles/variables";

.App {
    height: 100vh;

    &::after,
    &::before {
        width: 10px;
        position: fixed;
    }
    &::after {
        top: 50vh;
        left: max(50%, 60vw);
    }
    &::before {
        bottom: 45vh;
        right: max(1200px, 115%);
    }
}
.App {
    background-color: $dark-cyan;

    &::before {
        content: url("../../public/images/bg-pattern-top.svg");
    }
    &::after {
        content: url("../../public/images/bg-pattern-bottom.svg");
    }
}

.container {
    width: max(20vw, 300px);
    height: 400px;
    z-index: 1;

    &__background {
        height: $background-conteinerSize;
        width: 100%;
    }
}
.container {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &__background {
        background-image: url("../../public/images/bg-pattern-card.svg");
        border-radius: $border-radius $border-radius 0 0;
    }
}

.card {
    width: 100%;
    height: calc(100% - $background-conteinerSize);

    &__person {
        width: $imageSize-person;
        position: absolute;
        transform: translateY(calc($imageSize-person - 210%));
    }
    &__divider {
        width: 100%;
        height: 1px;
        margin: 7%;
    }
    &__infoStatus {
        width: 80%;
    }
}
.card {
    background-color: white;
    border-radius: 0 0 $border-radius $border-radius;

    &__person {
        border-radius: 50%;
        border: 4px solid white;
    }
    &__country {
        font-weight: 400;
        color: grey;
    }
    &__divider {
        background-color: gainsboro;
    }
}

.info {
    width: 100%;

    &__name,
    &__age {
        font-size: larger;
    }
    &__name {
        font-weight: 700;
    }
    &__age {
        font-weight: 400;
        color: grey;
    }
}

.App,
.card {
    @include flex(column);
}

.info,
.card__infoStatus {
    @include flex(row);
    gap: 3%;
}
