@import "../styles/mixin", "../styles/variables";

.App {
    height: 100vh;

    &::after,
    &::before {
        width: 10px;
        position: fixed;
    }
    &::after {
        top: 50vh;
        left: max(50%, 60vw);
    }
    &::before {
        bottom: 45vh;
        right: max(1200px, 115%);
    }
}
.App {
    background-color: $dark-cyan;

    &::before {
        content: url("../../public/images/bg-pattern-top.svg");
    }
    &::after {
        content: url("../../public/images/bg-pattern-bottom.svg");
    }
}

.container {
    width: 80vw;
    height: 30vh;

    &__background {
        height: $background-conteinerSize;
        width: 100%;
    }
}
.container {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &__background {
        background-image: url("../../public/images/bg-pattern-card.svg");
        border-radius: $border-radius $border-radius 0 0;
    }
}

.card {
    width: 100%;
    height: calc(100% - $background-conteinerSize);

    &__person {
        width: 80px;
        position: absolute;
        transform: translateY(-87px);
    }
}
.card {
    background-color: white;
    border-radius: 0 0 $border-radius $border-radius;

    &__person {
        border-radius: 50%;
        border: 4px solid white;
    }
}

.info {
    @include flex(row);
    gap: 5%;
    width: 100%;
}

.App,
.card {
    @include flex(column);
}
